# Logs
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/


# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions


dist/
lib/
